nav{
  background-color: #2b7299;
}
.post-ad{
    color:#2b7299 !important ;
}
.search-close-icon{
    display: none!important;
    position: absolute;
    top: 0;
    left: 100%!important;
    padding-left: 0px;
    color: rgba(0, 0, 0, 0.54);
    transition: color .2s;
    cursor: pointer;
  }
  input.search-field {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    border: 0;
    border-radius: 5px;
    height: 36px;
    padding: 8px 8px 8px 60px;
    width: 200px;
    background: #f7f7f7;
    transition: background 0.2s, width .2s;
    margin-left: 1%;
  }
  input.search-field:hover {
    background: #ebebeb;
  }
  .searchbox {
    position: relative;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.54);
  }
  input.search-field:focus {
    outline: none;
    width: 500px;
    color: #212121;
  }
  input.search-field:focus:hover {
    background: #f7f7f7;
  }
  
  .search-content {
    color: #303c42;
    width: 90%;
    margin: auto;
    height: auto;
    padding: 8px 10px;
  }
  .search-heading {
    color: #757575;
    display: block;
    font-size: 12px;
    line-height: 30px;
  }
  input.search-field ~ .search-popup {
    overflow: hidden;
    left: 0px;
    min-height: 50px;
    max-height: 700px;
    width: 200px;
    top: -450px; 
    position: absolute;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: width .2s, top .2s ease-in-out;
    border-radius: 2px;
    background-color: #fff;
  }
  .hello{
    font-weight: bold;
    color: rgb(213, 236, 206);
    font-size: 20px;
  }
  .blink{
    animation-name:effect ;
    
    animation-duration:  2s;
    animation-iteration-count: infinite;
  
    /* animation-duration: infinite; */
  }
  @keyframes effect {
    
    0%  {opacity: 1;}
    30%   {opacity: 0;}
    60%   {opacity: 1;}
    80%   {opacity: 0;}
    100%  {opacity: 1;}
    
  }
  .title{
    margin: 10px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(213, 236, 206);
    color: rgb(23, 49, 17);
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    text-transform: uppercase;
  }

.tocenterimg{
  height: 64px;
  position: relative;

}
.imgcontrol{

  max-height: 40px;
  max-width: 65px;
 position: relative;
 top: 11px;
}
@media only screen and (max-width: 1480px) {
  .title{
     
    padding-left: 18%;
    padding-right: 18%;
   
  }
}
@media only screen and (max-width: 1385px) {
  .title{
     
    padding-left: 17%;
    padding-right: 17%;
   
  }
}
@media only screen and (max-width: 1343px) {
  .title{
     
    padding-left: 16%;
    padding-right: 16%;
   
  }
}
@media only screen and (max-width: 1303px) {
  .title{
     
    padding-left: 15%;
    padding-right: 15%;
   
  }
}
@media only screen and (max-width: 1265px) {
  .title{
     
    padding-left: 13%;
    padding-right: 13%;
   
  }
}
@media only screen and (max-width: 1192px) {
  .title{
     
    padding-left: 11%;
    padding-right: 11%;
   
  }
}
@media only screen and (max-width: 1130px) {
  .title{
     
    padding-left: 9%;
    padding-right: 9%;
   
  }
}
@media only screen and (max-width: 1074px) {
  .title{
     
    padding-left: 7%;
    padding-right: 7%;
   
  }
}
@media only screen and (max-width: 1024px) {
  .title{
     
    padding-left: 5%;
    padding-right: 5%;
   
  }
}
@media only screen and (max-width: 993px) {
  .title{
     
    padding-left: 18%;
    padding-right: 18%;
   
  }
}
@media only screen and (max-width: 817px) {
  .title{
     
    padding-left: 15%;
    padding-right: 15%;
   
  }
}
@media only screen and (max-width: 745px) {
  .title{
     
    padding-left: 12%;
    padding-right: 12%;
   
  }
}
@media only screen and (max-width: 686px) {
  .title{
     
    padding-left: 10%;
    padding-right: 10%;
   
  }
}
@media only screen and (max-width: 651px) {
  .title{
     
    padding-left: 8%;
    padding-right: 8%;
   
  }
}
@media only screen and (max-width: 620px) {
  .title{
     
    padding-left: 6%;
    padding-right: 6%;
   
  }
}
  
  @media only screen and (max-width: 600px) {
    input.search-field {
      right: 0;
      padding: 8px 25px;
    }
    input.search-field:focus {
      outline: none;
      width: 200px;
      color: #212121;
    }
    
    i.material-icons{
      left:6%;
    }
    
    input.search-field {
      right: 0;
      padding: 8px 25px;
    }
    
  
    .search-content {
      width: 100%;
      padding: 8px 8px;
    }
    .title{
     
      padding-left: 2%;
      padding-right: 2%;
     
    }
  }

@media only screen and (max-width: 541px) {
  .title{
     
   display: none;
   
  }
}
  
